Repository shiftcode/dynamo-easy: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.js --ext .ts --fix, sort-package-json

feat(mapper): return an actual instance of model class
  src/dynamo/batchget/batch-get.request.spec.ts
  src/dynamo/request/batchgetsingletable/batch-get-single-table.request.spec.ts
  src/dynamo/request/get/get.request.spec.ts
  src/dynamo/request/query/query.request.spec.ts
  src/dynamo/request/transactgetsingletable/transact-get-single-table.request.spec.ts
  src/dynamo/request/update/update.request.spec.ts
  src/dynamo/transactget/transact-get.request.spec.ts
  src/mapper/mapper.spec.ts
  src/mapper/mapper.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.js --ext .ts --fix

feat(github-actions): add github action job definition
  .github/workflows/ci.yml
  .github/workflows/main.yml
Due: none

feat(github-action): add runs-on property
  .github/workflows/main.yml
Due: none

feat(semantic-release): configure pre release
  .github/workflows/main.yml
  .releaserc.json
  .releaserc.yml
Due: none

Notes added by 'git notes add'
  a7404b423eac6e57e180f6542a435859a006eb6f
Due: none

chore(github-actions): fix npm run report-coverage script
  .github/workflows/main.yml
Due: none

feat(prerelease): make sure to publish prerelease on prerelease channel
  .releaserc.json
Due: none

Notes added by 'git notes add'
  80d0d0a143de35e67b866e53a8373467c8e54e35
Due: none

chore(github-action): pass those arguments to semantic-release
  .github/workflows/main.yml
Due: none

chore(ci): remove travis configuration
  .travis.yml
Due: none

feat(github-actions): deactivate report coverage on PR buil
  .github/workflows/main.yml
Due: none

fix(github-action): remove wrong yml syntax
  .github/workflows/main.yml
Due: none

build(github-actions): report coverage using a comm action
  .github/workflows/main.yml
Due: none

chore(build): remove dry-run argument
  .github/workflows/main.yml
Due: none

chore(github-actions): update config
  .github/workflows/main.yml
Due: none

Notes added by 'git notes add'
  a5a4bc3252e1e35b28721edf78aeb1967b63b4d4
Due: none

chore(semantic-release): change json back to initial yml type
  .releaserc.json
  .releaserc.yml
Due: none

chore(github-action): update release configuration
  .github/workflows/main.yml
Due: none

chore(github-actions): remove debug flag for semantic-release
  .github/workflows/main.yml
Due: none

chore(github-actions): review triggers
  .github/workflows/main.yml
Due: none

chore(github-actions): change build
  .github/workflows/main.yml
Due: none

chore(github-actions): actually enable trigger pull_request
  .github/workflows/main.yml
Due: none

chore(build): move from travis to github workflows
  .github/workflows/main.yml
  .travis.yml
Due: none

chore(release): set releaserc config
  .releaserc.yml
Due: none

Notes added by 'git notes add'
  998e85042cd63b9b022187c248bed00f924a9a66
Due: none

Notes added by 'git notes add'
  f553e20cab22a4debc49dc511e07cb5b2705a183
Due: none

chore(deps): update uuid
  package-lock.json
  package.json
Due: sort-package-json

feat(empty-strings): drop empty string strictness to allow feature
  src/mapper/for-type/string.mapper.spec.ts
  src/mapper/for-type/string.mapper.ts
  src/mapper/mapper.spec.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.js --ext .ts --fix

Notes added by 'git notes add'
  742034693848ef2f81336bdbfde3028a1e668f79
Due: none

build(semantic-release): update semantic-release config
  .releaserc.yml
Due: none

Notes added by 'git notes add'
  8860141d6b6d06f6f00a6b11ae37547ea159556c
Due: none

Notes added by 'git notes add'
  ac4e476ebd939f7d143fe50c5af086959a088432
Due: none

chore(deps): update dependency tslint to v6
  package-lock.json
  package.json
Due: sort-package-json

fix(typescript-dependency): limit typescript dependency to < 4.0.0
  package.json
Due: sort-package-json

feat(transact-item-limit): increase transact write items limit to 25
  src/dynamo/transactwrite/transact-write.request.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.js --ext .ts --fix

fix(custom-mapper-for-sortkey-test): fix timezone dependent test
  test/models/model-with-custom-mapper-for-sort-key.model.ts
Due: prettier --write --config ./.prettierrc.yml, eslint --config .eslintrc.js --ext .ts --fix

Notes added by 'git notes add'
  a5e1c50d95b405356571bc0289482a2c8f01f35d
Due: none

chore(deps): update dependency tslib to v2
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  9e287f0d4784304ad51de9cbbd910662a29d343c
Due: none

Path conditions:
  prettier --write --config ./.prettierrc.yml: any of: {src,test}/**/*.ts
  eslint --config .eslintrc.js --ext .ts --fix: any of: {src,test}/**/*.ts
  sort-package-json: any of: **/package.json
